.content {
   width: 95%;
   height: 60%;
}

.content-1 {
    margin-top: 20px;
    width: 90%;
    height: 30%;
}

.content-2 {
    margin-top: 30px;
    width: 90%;
    height: 30%;
}

.aling-text1 {
    margin-left: 0px;
    margin-top: 90px;
    margin-right: 700px;

}

.aling-text1 button {
    margin-top: 40px;
    
}


.aling-text2 {
    margin-left: 0px;
    margin-top: 130px;
    margin-left: 700px;


}

.line {
    width: 60px;
    height: 30px;


}

.aling-img1 {
    margin-left: 700px;
    margin-top: -260px;
    width: 50%;
    height: 60%;
    
}


.aling-img2 {
    margin-right: 700px;
    margin-top: -260px;
    width: 50%;
    height: 60%;
    margin-bottom: 150px;

}

.home-img1 {
 border-radius: 4px;
 padding: 5px;
 width: 450px;
 text-align: right;
 

}

.home-img2 {
    border-radius: 4px;
    padding: 5px;
    width: 450px;
    text-align: left;


}